<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>서울과학기술대학교 졸업작품 프로젝트</strong> by
      <a href="https://jgthms.com">Park Je Ik</a>.
      <span class="footer__mit">
        The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>
      </span>
    </p>
  </div>
</footer>

<style>
  .footer__mit {
    display: block;
    margin-top: 20px;
  }
</style>
