<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#"> 서울과학기술대학교 졸업작품 </a>

    <a
      role="button"
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <span class="navbar-item">
        <a class="button is-primary is-inverted">
          <span class="icon">
            <!-- <i class="fab fa-github"></i> -->
          </span>
          <span>GITHUB</span>
        </a>
      </span>
    </div>
  </div>
</nav>
